.main_container {
  width: 80%;
  margin: 0 auto;
}
.form_container {
  margin: 1em auto;
  width: 90%;
  max-width: 500px;
}
.dark {
  background-color: #000 !important;
  padding: 1em;
}
.bold {
  font-weight: 700;
}
.error_message {
  margin: 5em auto;
  text-align: center;
}
